<nav id="navigation">
    <div>
        <a href="/#menu" id="menu" class="backlink"><i class="icon-chevron-left"></i>&nbsp;terug</a>
    </div>
</nav>

<div class="row">
    <div class="columns large-12 text-center">
        <div class="page">

            <h1>De Helderse Vallei</h1>

            <h2>Daar krijg je geen spijt van!</h2>

            <p>Alles voor een actief, recreatief of educatief dagje uit in het groen. Dat vind je in de Helderse Vallei.
                Je kan er fietsen, wandelen, klimmen en exposities bekijken. Of meedoen aan een excursie door dit
                prachtige gebied. Breng dan ook gelijk een bezoek aan de kinderboerderij waar je geiten, koeien,
                varkens, paarden, konijnen, kippen, schapen en nog veel meer Nederlandse huisdierrassen ziet. Verder
                vind je er naast een bezoekerscentrum nog een vogel- en vlindertuin, een wilgendoolhof, een
                openluchttheater, een uitkijktoren. En voor de waaghalzen: eko-Klimparcours De KlimVallei. Zelfs de
                omgeving op je blote voeten verkennen is mogelijk. Op het Blote Voetenpad. Zit het weer een beetje
                tegen? Ook binnen zijn er speelmogelijkheden voor jong en oud. Alle activiteiten -met uitzondering van
                De KlimVallei- zijn gratis toegankelijk.</p>

            <p> Een duurzame omgang met natuur en milieu voor een groen en leefbaar Den Helder. Dat is waar de Helderse
                Vallei zich graag voor in zet. Je vindt het natuur- en milieueducatief centrum langs de de duinrand van
                Den Helder, tussen het bos Donkere Duinen en het gebied van De Helderse Duinen in. En is daarmee mee de
                toegangspport tot recreatiegebied Mariëndal. Meer weten? Kijk dan op de site.</p>

            <a class="button inverse" target="_blank" href="http://www.deheldersevallei.nl/nl/dagje-uit/">De Helderse
                Vallei</a>

        </div>
    </div>
</div>
