<footer>
	<div class="footer-bg">
		<img id="footer-image" src="images/footer-bg.jpg">
		<img id="footer-svg" src="images/footer-dhd.svg">
	</div>
   
    <div id="container">
        <div class="footer-left">            
            <p class="text-left">
	            <span class="footer-content">Deze website is mede mogelijk gemaakt door de
	            <a title="http://www.noord-holland.nl/" target="_blank" href="http://www.noord-holland.nl/">provincie Noord-Holland</a></span><span class="divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	            <span class="footer-content">Webdesign: 
                <a title="http://www.raadhuis.com" target="_blank" href="http://www.raadhuis.com/?utm_source=swa.nl&amp;utm_medium=footer&amp;utm_campaign=footerlink">RAADHUIS.com</a>
	            </span>
            </p>
        </div>
         <div class="footer-right">
            <p class="text-right social">
	            <span>Delen:&nbsp;</span>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://dehelderseduinen.nl/" target="_blank"><i
                        class="icon-facebook-outline"></i></a>
                <a href="https://twitter.com/home?status=http://dehelderseduinen.nl/" target="_blank"><i
                        class="icon-twitter-outline"></i></a>
            </p>
            
        </div>
    </div>
</footer>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>