<nav id="navigation">
    <div>
        <a href="#menu" id="menu"><i class="icon-align-justify"></i><i class="icon-remove"></i>&nbsp;menu</a>
        <a href="#kaart" id="kaart"><i class="icon-location"></i><i class="icon-remove"></i>&nbsp;kaart</a>
    </div>
</nav>
<div class="menu">
    <div class="row">
        <div class="columns large-4" id="search">
            <div>
                <h2>Zoeken</h2>
                <input class="typeahead" type="text" placeholder="Zoeken">
                <button class="inverse">Bekijk <span id="resultCount"></span> resultaten</button>
            </div>
        </div>
        <div class="columns large-4" id="filter">
            <div>
                <h2>Filter</h2>

                <div class="option-set" data-group="brand">
                    <div class="checkbox">
                        <input type="checkbox" checked value=".bezoeken" id="bezoeken"/>
                        <label for="bezoeken">Bezoeken</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked value=".natuur" id="natuur"/>
                        <label for="natuur">Natuur</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked value=".actief" id="actief"/>
                        <label for="actief">Actief</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked value=".dieren" id="dieren"/>
                        <label for="dieren">Dieren</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked value=".eten-en-drinken" id="eten-en-drinken"/>
                        <label for="eten-en-drinken">Eten en drinken</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-4" id="pages">
            <div>
                <h2>Ga direct naar</h2>
                <ul class="links">
                    <li><a class="link" href="text.html"><i class="icon icon-chevron-right"></i> Verbetering
                        Natuurgebied</a></li>
                    <li><a class="link" href="text.html"><i class="icon icon-chevron-right"></i> Route / Parkeren</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="map" class="kaart"></div>
<div id="extra" class="extra"></div>
